/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
body {
  font-family: Rubik, sans-serif;
  color: #333333 !important;
  background-color: #f1f1f2;
}

.services {
  background-color: #f5f5f6;
}

h2 {
  font-size: 3rem;
}
@media (max-width: 576px) {
  h2 {
    font-size: 2rem;
    text-align: center;
  }
}

p {
  font-size: 1.5rem;
}
@media (max-width: 576px) {
  p {
    font-size: 1rem;
    text-align: center;
  }
}

a {
  color: #1995ad;
}
a:hover {
  text-decoration: none;
  color: #168297;
}

.smallertext h2 {
  padding-bottom: 30px;
}
.smallertext p {
  font-size: 1.1rem;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: bold;
}
.nav-link:hover {
  color: #1995ad !important;
}

.navbar {
  background: none !important;
}
.navbar img {
  max-width: 65%;
  padding-left: 20px;
}
@media (max-width: 420px) {
  .navbar-brand {
    max-width: 250px;
  }
}
@media (max-width: 350px) {
  .navbar-brand {
    max-width: 200px;
  }
}
@media (max-width: 300px) {
  .navbar-brand {
    max-width: 150px;
  }
}

.custombutton {
  background-color: #1995ad;
  color: #ffffff;
  border-radius: 100px;
  font-size: 1.2rem;
  border-width: 2px;
  padding: .5rem 2.4rem !important;
  margin: .4rem .8rem !important;
}
.custombutton:hover {
  background-color: #168297;
  color: #ffffff;
  box-shadow: 1px 1px 15px #424141;
  transition: 0.3s;
}

hr {
  border: 0;
  opacity: 1;
  margin: 16px auto;
}

.hr-small {
  width: 20vw;
  border-top: 2px solid #1995ad;
}

.hr-medium {
  width: 50vw;
  border-top: 1px solid #168297;
}

.hr-large {
  width: 80vw;
  border-top: 2px solid #333333;
}

.footer {
  padding-bottom: 20px;
}
.footer a {
  color: #1995ad;
}
.footer a:hover {
  color: #168297;
  transition: 0.3s;
}

.blockquote {
  font-style: italic;
  padding: 100px 0;
}
@media (max-width: 576px) {
  .blockquote {
    padding: 30px 0;
  }
}

.row {
  margin: 0 !important;
}

.section {
  padding-top: 75px;
}
@media (max-width: 992px) {
  .section {
    padding-top: 30px;
  }
  .section .violinplayer {
    padding-bottom: 30px;
  }
}

@media (max-width: 2100px) {
  .violinplayer img, .notes img {
    width: auto;
    height: 270px;
  }
}
@media (max-width: 1600px) {
  .violinplayer img, .notes img {
    width: auto;
    height: 250px;
  }
}
@media (max-width: 1400px) {
  .violinplayer img, .notes img {
    width: auto;
    height: 220px;
  }
}
@media (max-width: 1200px) {
  .violinplayer img, .notes img {
    width: auto;
    height: 200px;
  }
}
@media (max-width: 992px) {
  .violinplayer img, .notes img {
    width: auto;
    height: 300px;
  }
}
@media (max-width: 576px) {
  .violinplayer img, .notes img {
    width: auto;
    height: 200px;
  }
}

@media (max-width: 992px) {
  .musicforaneed, .musicwithemotion {
    text-align: center;
    padding-bottom: 30px;
  }
}

@media (min-width: 1500px) {
  .musicforaneed {
    padding-left: 130px;
  }
}

.services {
  border: 1px inset #333333;
  box-shadow: 1px 1px 5px #333333;
}
.services-card {
  padding: 20px 0;
}
@media (max-width: 992px) {
  .services {
    padding: 0 40px;
  }
  .services h3 {
    padding-top: 20px;
    text-align: center;
  }
}

.listen {
  padding-bottom: 30px;
}

.about img {
  height: 300px;
  border-radius: 50%;
}
.about h4, .about h5 {
  padding: 20px 0 20px 0;
  font-weight: 600;
}
@media (max-width: 576px) {
  .about h4, .about h5 {
    text-align: center;
  }
}

@media (max-width: 576px) {
  .info h3, .info h5 {
    text-align: center;
  }
}

.productionmusic img {
  padding-bottom: 30px;
}
@media (min-width: 1200px) {
  .productionmusic p {
    padding-top: 20px;
  }
}

.musicpacks-logos img {
  max-height: 120px !important;
  max-width: 225px;
  padding: 10px 0;
}

.musicpacks-card {
  border: 1px inset #333333;
  box-shadow: 1px 1px 5px #333333;
  padding: 20px 0;
  margin-bottom: 30px !important;
}

.musicpacks-card img {
  max-height: 250px;
}

@media (max-width: 992px) {
  .musicpacks-card img {
    padding-bottom: 15px;
  }
}

@media (min-width: 1200px) {
  .musicpacks-card img {
    max-width: 375px;
  }
}

@media (max-width: 576px) {
  .musicpacks-license {
    padding-top: 20px;
    text-align: center;
  }
  #itchio {
    padding-bottom: 30px;
  }
}

.musicpacks-upperarea {
  padding-bottom: 20px;
}

@media (min-width: 1200px) {
  .musicpacks-upperarea img {
    margin-right: 30px;
  }
}

